### Builder ###
FROM "{{ golang_image }}" as builder

MAINTAINER "Dwi Fahni Denni <zeroc0d3.team@gmail.com>"

WORKDIR /go/src/app
ENV GOPATH=/go

RUN apk add --no-cache \
        build-base \
        git \
        curl \
        make \
        bash

RUN git clone "{{ golang_repo_url }}" /go/src/app

RUN GOOS=linux GOARCH=amd64 CGO_ENABLED=0 \
    cd /go/src/app && \
        go build -mod=readonly -ldflags="-s -w" -o goapp

### Binary ###
FROM "{{ golang_image }}"

COPY --from=builder /go/src/app/goapp /usr/local/bin/goapp

ENTRYPOINT ["/usr/local/bin/goapp"]

EXPOSE "{{ golang_port }}"